###### Requirements without Version Specifiers ######
langchain-community
langchain-chroma
langchain-ollama
pypdf
#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
chromadb==0.5.3
chroma-hnswlib==0.7.3
